body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: Verdana, Geneva, sans-serif;
  box-sizing: border-box;
  color: black;
}

.app {
  margin: 0 auto;
  max-width: 70%;
  padding: 5rem 0;
}
